@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary colors */
  --primary-100: #cfd4d9;
  --primary-200: #9faab3;
  --primary-300: #707f8e;
  --primary-400: #405568;
  --primary-500: #102a42;
  --primary-600: #0d2235;
  --primary-700: #0a1928;
  --primary-800: #06111a;
  --primary-900: #03080d;
  /* Secondary colors */
  --grey-100: #fafafa;
  --grey-200: #f5f5f5;
  --grey-300: #f0f0f0;
  --grey-400: #ebebeb;
  --grey-500: #e6e6e6;
  --grey-600: #b8b8b8;
  --grey-700: #8a8a8a;
  --grey-800: #5c5c5c;
  --grey-900: #2e2e2e;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --light-red: #d93636;
  --dark-red: #d91e1e;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* Fonts */
  --bodyFont: "Roboto", sans-serif;
  --headingFont: "Montserrat", sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-5: -1px 5px 16px 4px rgba(0, 0, 0, 0.5);
  /* Text shadow */
  --textShadow: 1px 1px 2px black;
  /* Rest of the var */

  --backgroundColor: var(--grey-300);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.5s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
body {
  background-color: var(--backgroundColor);
  color: var(--primary-500);
  font-family: var(--bodyFont);
  /* background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  z-index: -99; */
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.title {
  color: var(--light-red);
  text-align: center;
}
.center {
  text-align: center;
}
.title-underline {
  height: 0.25rem;
  width: 7rem;
  margin: 0 auto;
  background-color: var(--primary-500);
  align-items: center;
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-weight: 900;
}
.btn-transparent {
  border: 2px solid var(--primary-500);
  background-color: transparent;
  color: var(--primary-500);
}
.btn-block {
  width: 100%;
}
.container {
  width: 90%;
  max-width: var(--maxWidth);
  margin: auto;
}
.nav {
  background-color: var(--primary-800);
  color: var(--grey-100);
  /* background-color: var(--grey-400); */
  /* color: var(--primary-900); */
}
svg {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
  .col {
    width: 100%;
  }
  .btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
  }
  .hamburger {
    display: none;
  }
  .hide-small-nav {
    display: none !important;
  }
  .show-big-nav {
    display: flex !important;
  }
}
